<footer class="page-footer front-small bg-danger pt-4">

    <div class="container">
        
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                
                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/minha_dietaja/?igshid=YmMyMTA2M2Y%3D" 
                        target="_blank" class="icoInstagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/channel/UCMKRVxTVkVWwMPSwnPSQI7g" 
                        target="_blank" class="icoYoutube">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-light text-center py-3">
        <span class="text-bg-light"> © 2022 Copyright: </span>
        <a class="text-bg-light" target="_blank" href="https://brazil.generation.org/">brasil.generation.org</a>
    </div>

</footer>
